html 
head 
title Gallary 
body 
include boot.html 
include header.pug 

-let array =["https://cdn.pixabay.com/photo/2022/07/20/18/44/reading-7334749_960_720.png","https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_960_720.png","https://cdn.pixabay.com/photo/2022/07/24/19/42/bike-7342379__340.png","https://cdn.pixabay.com/photo/2021/03/15/17/35/garden-6097539_960_720.png","https://cdn.pixabay.com/photo/2022/10/03/23/41/house-7497001_960_720.png"];
.container(style="margin-bottom:20px")
    h1(style="text-align:center;padding:20px") Gallary 
    each i in array 
     .row(style="margin-top:20px")
            .col-sm-6
                .responsive
                .gallery
                    a(target='_blank' href='#')
                    img(src=i alt='Cinque Terre' width='500' height='300')
            .col-sm-6
                .responsive
                .gallery
                    a(target='_blank' href='#')
                    img(src=i alt='Cinque Terre' width='500' height='300')

include footer.pug